doctype html
html
  head
    include _partial/head
  body
    .wrapper
      include _partial/header
      .main
        - var last = date(new Date(), 'YYYY')
        - var flag = 0
        - page.posts.each(function (post) {
            - var year = post.date.year()
            if (last == year)
              if (flag == 0)
                h2.post-year-list= year
                - flag = 1
            else
              - last = year
              h2.post-year-list= year
            article.post
              a.post-title(href!= url_for(page.path))= post.title
              span.post-date
                = date(post.date, theme.date_format)
        - })
      include _partial/footer
