doctype html
html
  head
    include _partial/head
  body
    .wrapper
      include _partial/header
      .main
        - page.posts.each(function (post) {
            article.post
              a.post-title(href!= url_for(post.path))= post.title
              span.post-date
                = date(post.date, 'YYYY-MM-DD')
        - })
        if (page.total > 1)
          nav.paginator
            != paginator()
      include _partial/footer
