doctype html
html
  head
    include _partial/head
  body
    .wrapper
      include _partial/header
      .main
        article.post
          h1.post-title
            a(href!= url_for(page.path))= page.title
          .post-content
            != page.content
      include _partial/footer
