doctype html
html
  head
    include _partial/head
  body
    .wrapper
      include _partial/header
      .main
        article.post
          h1.post-title= page.title
          .post-content
            != page.content
      include _partial/footer
