@import "_highlight"

body
  font 14px/200% "Hiragino Sans GB","Microsoft YaHei","微软雅黑",Tahoma,Arial,"宋体"
  color #333
  background-color #E8E9DB

body, div, li, pre, code, th, td, figure, ul, ol
  margin 0
  padding 0

figure
  border-radius 5px
  pre
    line-height 20px

blockquote
  margin 0
  padding 1px 10px
  background-color #eee
  border-left 5px solid #ccc

a
  color #4183C4
  text-decoration none
  transition all 0.3s ease 0s

pre, code
  font 12px/200% Menlo,Monaco,Consolas,"Courier New",monospace

code
  padding 2px
  background-color #ddd
  border 1px solid #ccc
  border-radius 5px

.wrapper
  width 850px
  background-color #fff
  margin 0 auto
  padding: 18px 0px 90px;
  .header
    border-bottom 1px solid #ddd
    padding 0px 0px 30px
    .nav
      width 600px
      margin 0px auto
      text-align center
      li
        padding-bottom 8px
        margin 0px 20px
        display inline-block
    .info
      width 500px
      margin 0px auto
      text-align center
      .avatar
        text-align center
        img
          width 150px
          height 150px
          vertical-align middle
          margin 32px 0px 12px
          border-radius 50%
          &:hover
            opacity 0.7
      .site-title
        h1
          a
            letter-spacing 1px
        p
          color #666
  .main
    width 600px
    margin 0 auto
    padding 40px 0px
    .post-year-list
      text-align center
      font-size 18px
      font-weight bold
      &:not(:first-child)
        margin 40px 0px 30px
    .post
      margin 0px 0px 10px
      .post-title
        line-height 24px
        a:hover
          color #999
      h1.post-title
        text-align center
      .post-date
        float right
        color #999
      .post-content
        a
          border-bottom 1px dashed #999
          &:hover
            color #999
        ul, ol
          padding-left 30px
    .paginator
      text-align center
      .page-number, .extend
        display inline-block
        padding 5px 10px
        &:not(.current):hover
          color #eee
          background-color #999
  .footer
    width 600px
    color #999
    font-size 13px
    margin 0 auto
    padding-top 45px
    border-top 1px solid #ddd
    a:hover
      color #999
