.footer
  |&copy; #{date(new Date(), 'YYYY')} #{theme.author}
  br
  |Powered by&nbsp;
  a(href='https://hexo.io/', target='_blank') Hexo
  |. Hosted with&nbsp;
  span(style='color:red') &hearts;
  |&nbsp;by&nbsp;
  a(href='https://github.com/', target='_blank') Github
