.footer
  |&copy; #{date(new Date(), 'YYYY')} #{theme.author}
  br
  |Powered by&nbsp;
  a(href='https://hexo.io', target='_blank') Hexo
  |&nbsp;using&nbsp;
  a(href='https://github.com/saintwinkle/hexo-theme-vertical', target='_blank') Vertical
  |&nbsp;theme.
