.header
  ul.nav
    each path, name in theme.menu
      li
        a(href=path)= name
    if theme.social.github
      li
        a(href='https://github.com/'+theme.social.github, target='_blank') Github
    if theme.social.weibo
      li
        a(href='http://weibo.com/n/'+theme.social.weibo, target='_blank') 微博
    if theme.social.v2ex
      li
        a(href='https://www.v2ex.com/member/'+theme.social.v2ex, target='_blank') V2EX
  .info
    .avatar
      a(href='/')
        img(src='/imgs/avatar.png')
    .site-title
      h1
        a(href='/')= theme.title
      p= theme.description
